*{
  -webkit-box-sizing: border-box;
    box-sizing: border-box
}
body{
    background-color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    min-height: 100vh;
    text-align: center;
    margin-top: 30px;
}
.titleText{
  color: #e9e9e9;
}
.navbar{
  background-color: #091985;
}
.container{
  margin-top: 5rem;
}
h1{
  margin-bottom: 2rem;
}
.button-class {
  background-color: #2610d0;
  color: #e9e9e9;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 700;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s,-webkit-transform .3s;
  transition-timing-function: ease-in-out
}

.button-class:focus,.button-class:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

.button-class:active {
  background-color: #fff;
  border: 5px solid #2610d0;
  color: #000
}

.modal {
  color: #000
}

.modal-dialog {
  margin-top: 15%
}

.modal-img {
  padding: 20px;
  margin-top: -20px;
  width: 50%
}

@media all and (max-width:768px){
  .button-class{
    padding-top: 26px;
    padding-bottom: 26px;
  }
}